body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	font-family: Arial, sans-serif;
	font-size: 14px;
	white-space: nowrap;
}

nav {
	display: flex;
	align-items: center;
	padding: 6px 6px 6px 16px;
	box-sizing: border-box;
	height: 60px;
	color: #222;
}

nav a {
	text-decoration: none;
	color: inherit;
}

nav > a {
	margin: 0 5px;
	padding: 5px;
}

nav > #right {
	display: flex;
	align-items: center;
	font-size: 13px;
}

nav > #right > a {
	margin: 0 15px 0 0;
}

#google-apps {
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	padding: 8px;
	margin: 0 12px 0 4px;
}

#google-apps svg {
	fill: #5f6368;
}

#sign-in-button {
	background-color: #2b7de9;
	box-sizing: border-box;
	width: 96px;
	height: 36px;
	padding: 9px 23px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

nav > #spacer {
	flex: 1 0 48px;
}

#logo-div {
	display: block;
	flex-grow: 0;
	width: 272px;
	align-self: center;
}

#search-form-div {
	flex: 0 0 120px;
}

#search-form {
	padding: 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-self: center;
	max-width: 584px;
}

#search-box {
	width: 100%;
	height: 46px;
	display: flex;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	height: 44px;
	justify-content: space-between;
	align-items: center;
}

#search-input {
	border-style: none;
	border-radius: 16px;
	flex-grow: 1;
}

#search-buttons {
	text-align: center;
	margin: 30px;
}

#search-buttons > button {
	margin: 4px;
}

footer {
	display: flex;
	height: 46px;
	background-color: #f2f2f2;
}
