body {
	min-width: 1261px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

b {
	font-weight: bold;
}

a, a:hover {
	text-decoration: none;
}

#top-bar {
	display: flex;
	height: 48px;
	margin: 26px 26px 15px;
	align-items: center;
}

#top-logo-div {
	width: 92px;
	height: 30px;
	margin-right: 40px;
}

#top-logo {
	display: block;
	width: 100%;
	height: 100%;
}

#search-box {
	width: 656px;
	height: 44px;
	padding: 0 18px;
	border: 1px solid transparent;
	border-radius: 24px;
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#search-box:hover {
	border: 1px solid transparent;
	box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.15);
}

#clear-search-box-icon, #search-icon {
	width: 24px;
	height: 24px;
}

#clear-search-box {
	padding: 0 12px 0 8px;
	border-right: 1px solid #ddd;
	cursor: pointer;
}

#clear-search-box-icon {
	filter: invert(0.45);
}

#search-icon {
	padding-left: 12px;
	filter: invert(50%) sepia(50%) hue-rotate(180deg) saturate(650%);
	cursor: pointer;
}

#search-input {
	position: relative;
	bottom: 1px;
	border-style: none;
	border-radius: 16px;
	flex-grow: 1;
	font-size: 16px;
	font-family: Arial, sans-serif;
	color: #222;
	outline: none;
}

.spacer-grow {
	flex: 1 0 0;
}

#top-bar-right-buttons {
	display: flex;
	align-items: center;
}

#preferences img {
	filter: invert(0.35);
}

#google-apps, #preferences {
	display: block;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	padding: 8px;
	border-radius: 50%;
}

#google-apps:hover, #preferences:hover {
	background-color: #eff0f0;
}

#google-apps:focus, #preferences:focus {
	background-color: #ebebec;
	outline: none;
}

#google-apps:active, #preferences:active {
	background-color: #e7e8e8;
}

#google-apps svg {
	fill: #5f6368;
}

#sign-in-button {
	background-color: #1a73e8;
	box-sizing: border-box;
	width: 96px;
	height: 36px;
	padding: 9px 23px !important;
	margin-left: 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

#sign-in-button:hover {
	background-color: #2b7de9;
	box-shadow: 0px 1px 3px 0px rgba(43, 125, 233, 0.41);
}

#sign-in-button:focus {
	background-color: #5094ed;
	box-shadow: 0px 1px 3px 0px rgba(43, 125, 233, 0.41);
}

#sign-in-button:active {
	background-color: #63a0ef;
	box-shadow: 0px 1px 3px 0px rgba(43, 125, 233, 0.41);
}

nav {
	width: 656px;
	position: relative;
	left: 176px;
	display: flex;
	align-items: center;
}

nav a {
	display: inline-block;
	height: 18px;
	padding: 11px 0px 16px;
	margin: 0px 11px;
	color: #5f6368;
}

nav img {
	height: 18px;
	vertical-align: -30%;
	margin-left: -1px;
	filter: invert(0.4);
}

#search-all {
	padding: 11px 0px 13px;
	margin-left: 0;
	color: #1a73e8;
	border-bottom: 3px solid #1a73e8;
}

#search-all img {
	filter: invert(39%) sepia(60%) saturate(4481%) hue-rotate(201deg) brightness(95%) contrast(91%);
}

#tools {
	padding: 6px 11px 3px;
	margin-top: -2px;
	margin-right: -11px;
	border: 1px solid transparent;
}

#tools:hover {
	background-color: #f8f9fa;
	border: 1px solid #dadce0;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	color: #202124;
}

#tools:active {
	background-color: #f8f9fa;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

.hor-dividing-line-light {
	width: 100%;
	height: 1px;
	background-color: #ebebeb;
}

#results {
	max-width: 656px;
	margin-left: 176px;
}

#no-of-results {
	color: #70757a;
	margin: 14px 0 20px;
}

.result {
	margin-bottom: 32px;
}

.result-url {
	line-height: 22px;
}

.result-url .base-website {
	color: #202124;
}

.result-url .webpage-path::before {
	content: "› ";
}

.result-url .webpage-path, .down-arrow-after-url {
	color: #5f6368;
}

.down-arrow-after-url {
	cursor: pointer;
}

.result-title {
	color: #1a0dab;
	font-size: 20px;
	line-height: 32px;
}

.result-title:hover {
	text-decoration: underline;
}

.result-content {
	color: #4d5156;
	line-height: 22px;
}

.links-within-result {
	color: #70757a;
	line-height: 22px;
}

.links-within-result > a {
	color: #1a0dab;
}

#people-also-ask {
	display: flex;
	flex-direction: column;
	margin-bottom: 48px;
	margin-top: 40px;
}

#people-also-ask-title {
	font-size: 22px;
	color: #202124;
	margin-bottom: 12px;
}

.people-also-ask-listing {
	border-top: 1px solid #ebebeb;
	height: 43px;
	color: #202124;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.people-also-ask-listing > img {
	filter: invert(0.45);
}

.feedback {
	display: flex;
	align-items: center;
}

.feedback > a {
	color: #70757a;
	margin-left: 14px;
	font-size: 12px;
}

.hor-dividing-line-dark {
	height: 1px;
	flex: 1 0 0;
	background-color: #dadce0;
}
