body {
	min-width: 1261px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#top-bar {
	display: flex;
	height: 48px;
	margin: 26px;
	align-items: center;
}

#top-logo-div {
	width: 92px;
	height: 30px;
	margin-right: 40px;
}

#top-logo {
	display: block;
	width: 100%;
	height: 100%;
}

#search-box {
	width: 656px;
	height: 44px;
	padding: 0 18px;
	border: 1px solid transparent;
	border-radius: 24px;
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#search-box:hover {
	border: 1px solid transparent;
	box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.15);
}

#clear-search-box-icon, #search-icon {
	width: 24px;
	height: 24px;
}

#clear-search-box {
	padding: 0 12px 0 8px;
	border-right: 1px solid #ddd;
	cursor: pointer;
}

#clear-search-box-icon {
	filter: invert(0.45);
}

#search-icon {
	padding-left: 12px;
	filter: invert(50%) sepia(50%) hue-rotate(180deg) saturate(650%);
	cursor: pointer;
}

#search-input {
	position: relative;
	bottom: 1px;
	border-style: none;
	border-radius: 16px;
	flex-grow: 1;
	font-size: 16px;
	font-family: Arial, sans-serif;
	outline: none;
}

.spacer-grow {
	flex: 1 0 0;
}

#top-bar-right-buttons {
	display: flex;
	align-items: center;
}

#preferences img {
	filter: invert(0.35);
}

#google-apps, #preferences {
	display: block;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	padding: 8px;
	border-radius: 50%;
}

#google-apps:hover, #preferences:hover {
	background-color: #eff0f0;
}

#google-apps:focus, #preferences:focus {
	background-color: #ebebec;
	outline: none;
}

#google-apps:active, #preferences:active {
	background-color: #e7e8e8;
}

#google-apps svg {
	fill: #5f6368;
}

#sign-in-button {
	background-color: #1a73e8;
	box-sizing: border-box;
	width: 96px;
	height: 36px;
	padding: 9px 23px !important;
	margin-left: 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

#sign-in-button:hover {
	text-decoration: none;
	background-color: #2b7de9;
	box-shadow: 0px 1px 3px 0px rgba(43, 125, 233, 0.41);
}

#sign-in-button:focus {
	background-color: #5094ed;
	box-shadow: 0px 1px 3px 0px rgba(43, 125, 233, 0.41);
}

#sign-in-button:active {
	background-color: #63a0ef;
	box-shadow: 0px 1px 3px 0px rgba(43, 125, 233, 0.41);
}

nav {
	width: 656px;
	position: relative;
	left: 176px;
}
